In [ ]:
# Groupby
import pandas as pd
data = {'Company': ['GOOG','GOOG','MSFT', 'MSFT','FB','FB'],
        'Person':['Sam', 'Charles', 'Amy', 'Vannessa', 'Carl', 'Sarah'],
        'Sales':[200, 120, 304, 124, 243, 350]}
df = pd.DataFrame(data)

In [ ]:
by_comp = df.groupby("Company")
by_comp

In [ ]:
by_comp = df.groupby("Company")
by_comp.mean()

NameError: ignored

In [ ]:
sal['TotalPayBenefits'].max()
sal[sal['TotalPayBenefits'] == sal['TotalPayBenefits'].max()]
sal[sal['TotalPayBenefits'] == sal['TotalPayBenefits'].max()]['EmployeeName'

# NATHANIEL FORD
# Name: EmployeeName, dtype: object

#What is the average BasePay for all employees? per each year
sal.groupby('Year').mean()['BasePay']

SyntaxError: ignored

In [ ]:
sal['JobTitle'].nunique()

NameError: ignored

In [ ]:
sal['JobTitle'].value_counts().tail()

NameError: ignored

In [ ]:
#How many job titles were represented by only one person 2013? (e.g. job ittles with only one observation)
sal[sal['Year'] == 2013]['JobTitle'].value_counts() == 1

NameError: ignored

In [ ]:
sum(sal[sal['Year'] == 2013]['JobTitle'].value_counts() ==1)

NameError: ignored

In [ ]:
df

  Company    Person  Sales
0    GOOG       Sam    200
1    GOOG   Charles    120
2    MSFT       Amy    304
3    MSFT  Vannessa    124
4      FB      Carl    243
5      FB     Sarah    350

In [ ]:
by_comp.describe()

        Sales
        count   mean         std    min     25%    50%     75%    max
Company
FB        2.0  296.5   75.660426  243.0  269.75  296.5  323.25  350.0
GOOG      2.0  160.0   56.568542  120.0  140.00  160.0  180.00  200.0
MSFT      2.0  214.0  127.279221  124.0  169.00  214.0  259.00  304.0

In [ ]:
import pandas as pd
ecom = pd.read_csv('Ecommerce Purchases.csv')

In [ ]:
by_comp.describe().transpose()

Company              FB        GOOG        MSFT
Sales count    2.000000    2.000000    2.000000
      mean   296.500000  160.000000  214.000000
      std     75.660426   56.568542  127.279221
      min    243.000000  120.000000  124.000000
      25%    269.750000  140.000000  169.000000
      50%    296.500000  160.000000  214.000000
      75%    323.250000  180.000000  259.000000
      max    350.000000  200.000000  304.000000

In [ ]:
avg = by_comp.mean

In [ ]:
avg = by_comp.cumsum()

In [ ]:
avg

   Sales
0    200
1    320
2    304
3    428
4    243
5    593

In [ ]:
total = by_comp.mean().cumsum().max()
avg = total / 6
avg

NameError: ignored

# New Section

In [ ]:
by_comp.mean()

         Sales
Company
FB       296.5
GOOG     160.0
MSFT     214.0

In [ ]:
sal = pd.read_csv('Salaries.csv')

In [ ]:
pow(by_comp.mean()-avg,2)

              Sales
Company
FB       34132.5625
GOOG      2328.0625
MSFT     10455.0625

In [ ]:
import math
math.sqrt((pow(by_comp.mean()-avg,2)/6).groupby())

TypeError: ignored

In [ ]:
(pow(by_comp.mean()-avg,2)/6)

               Sales
Company
FB       5688.760417
GOOG      388.010417
MSFT     1742.510417

In [ ]:
for x in (pow(by_comp.mean()-avg,2)/6)

SyntaxError: ignored

In [ ]:
for x in by_comp

SyntaxError: ignored

In [ ]:
for x in by_comp.mean()

SyntaxError: ignored

In [ ]:
sal.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011.0,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011.0,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011.0,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011.0,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011.0,NaN,San Francisco,NaN

In [ ]:
sal.tail()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
117651,117652,Kenny Wong,Pr Environmental Hlth Insp,120232.93,0.00,0.00,39532.64,120232.93,159765.57,2014.0,NaN,San Francisco,NaN
117652,117653,Kevin W Heuer,Sheriff's Sergeant,107985.07,1029.96,12412.05,38328.23,121427.08,159755.31,2014.0,NaN,San Francisco,NaN
117653,117654,Ramsey A Omari,Diagnostic Imaging Tech I,91579.71,18704.39,11834.99,37631.48,122119.09,159750.57,2014.0,NaN,San Francisco,NaN
117654,117655,Michael G Diskin,Police Officer,112164.00,6145.80,4001.46,37428.51,122311.26,159739.77,2014.0,NaN,San Francisco,NaN
117655,117656,Michael P Dean,Utility Plumber,97557.00,15488.41,11506.88,35.00,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
sal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 117656 entries, 0 to 117655
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                117656 non-null  int64
 1   EmployeeName      117656 non-null  object
 2   JobTitle          117656 non-null  object
 3   BasePay           117051 non-null  float64
 4   OvertimePay       117656 non-null  float64
 5   OtherPay          117656 non-null  float64
 6   Benefits          81497 non-null   float64
 7   TotalPay          117655 non-null  float64
 8   TotalPayBenefits  117655 non-null  float64
 9   Year              117655 non-null  float64
 10  Notes             0 non-null       float64
 11  Agency            117655 non-null  object
 12  Status            0 non-null       float64
dtypes: float64(9), int64(1), object(3)
memory usage: 11.7+ MB

In [ ]:
sal['BasePay'].mean()

70117.82919171987

In [ ]:
sal['OvertimePay'].max()

245131.88

In [ ]:
#what is the job title of joseph driscoll
sal[sal['EmployeeName']=='JOSEPH DRISCOLL']['JobTitle']

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

In [ ]:
sal[sal['EmployeeName']=='JOSEPH DRISCOLL']

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
24,25,JOSEPH DRISCOLL,"CAPTAIN, FIRE SUPPRESSION",140546.86,97868.77,31909.28,NaN,270324.91,270324.91,2011.0,NaN,San Francisco,NaN

In [ ]:
sal['EmployeeName']=='JOSEPH DRISCOLL'

0         False
1         False
2         False
3         False
4         False
          ...
117651    False
117652    False
117653    False
117654    False
117655    False
Name: EmployeeName, Length: 117656, dtype: bool

In [ ]:
#How many people have the word chief in thei job title? (For in next class Tuesday)

In [ ]:
Def chief_strint(title):
...
...

# lambda function for this

In [ ]:
#get the mean max min purchase
ecom.head()
ecom.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Address           10000 non-null  object
 1   Lot               10000 non-null  object
 2   AM or PM          10000 non-null  object
 3   Browser Info      10000 non-null  object
 4   Company           10000 non-null  object
 5   Credit Card       10000 non-null  int64
 6   CC Exp Date       10000 non-null  object
 7   CC Security Code  10000 non-null  int64
 8   CC Provider       10000 non-null  object
 9   Email             10000 non-null  object
 10  Job               10000 non-null  object
 11  IP Address        10000 non-null  object
 12  Language          10000 non-null  object
 13  Purchase Price    10000 non-null  float64
dtypes: float64(1), int64(2), object(11)
memory usage: 1.1+ MB

In [ ]:
ecom.head()

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
0,"16629 Pace Camp Apt. 448\r\nAlexisborough, NE ...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6011929061123406,02/20,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,el,98.14
1,"9374 Jasmine Spurs Suite 508\r\nSouth John, TN...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3337758169645356,11/18,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73
2,Unit 0065 Box 5052\r\nDPO AP 27450,94 vE,PM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Simpson, Williams and Pham",675957666125,08/19,699,JCB 16 digit,amymiller@morales-harrison.com,Customer service manager,132.207.160.22,de,0.95
3,"7780 Julia Fords\r\nNew Stacy, WA 45798",36 vm,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_0 ...,"Williams, Marshall and Buchanan",6011578504430710,02/24,384,Discover,brent16@olson-robinson.info,Drilling engineer,30.250.74.19,es,78.04
4,"23012 Munoz Drive Suite 337\r\nNew Cynthia, TX...",20 IE,AM,Opera/9.58.(X11; Linux x86_64; it-IT) Presto/2...,"Brown, Watson and Andrews",6011456623207998,10/25,678,Diners Club / Carte Blanche,christopherwright@gmail.com,Fine artist,24.140.33.94,es,77.82

In [ ]:
ecom['Language'] == 'en'

0       False
1       False
2       False
3       False
4       False
        ...
9995    False
9996    False
9997    False
9998    False
9999    False
Name: Language, Length: 10000, dtype: bool

In [ ]:
ecom[ecom['Language']=='en'].value_counts()
sum(ecom['Language'] =='en')

1098

In [ ]:
# Sep 6
# How many people have the job title of "Lawyer"

# How many people made the purchase during the AM and how many people purchase during the PM

In [ ]:
# How many jobs?

In [ ]:
sum(ecom['CC Provider']== 'American Express')

849

In [ ]:
sum(ecom['Purchase Price']>95)

505

In [ ]:
sum((ecom['CC Provider']== 'American Express') & (ecom['Purchase Price']>95))

39

In [ ]:
ecom['AM or PM'].value_counts()
# How many jobs?

PM    5068
AM    4932
Name: AM or PM, dtype: int64

In [ ]:
ecom['Job'].value_counts()

Interior and spatial designer    31
Lawyer                           30
Social researcher                28
Purchasing manager               27
Designer, jewellery              27
                                 ..
Prison officer                    7
Editor, film/video                6
Actuary                           6
Information systems manager       5
Investment analyst                5
Name: Job, Length: 623, dtype: int64

In [ ]:
ecom['Job'].value_counts().head()

Interior and spatial designer    31
Lawyer                           30
Social researcher                28
Purchasing manager               27
Designer, jewellery              27
Name: Job, dtype: int64

In [ ]:
# Sep6 can we also sort by the job  if there is a tie
# ecom['Job'].value_counts()

In [ ]:
# Someone made a purchase thta came from Lot: "90 WT"; What was the Purchase Price for that transaction?

In [ ]:
ecom['Lot'] == '90 WT'

0       False
1       False
2       False
3       False
4       False
        ...
9995    False
9996    False
9997    False
9998    False
9999    False
Name: Lot, Length: 10000, dtype: bool

In [ ]:
ecom[ecom['Lot'] == '90 WT']['Purchase Price']

513    75.1
Name: Purchase Price, dtype: float64

In [ ]:
# How many people have american Express as their cc provider 
# and made puurchase above 95