In [1]:
import pandas as pd
df = pd.read_csv('titanic_train.csv')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [2]:
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [5]:
df.drop(['PassengerId', 'Name', 'SibSp', 'Parch', 'Ticket', 'Cabin', 'Embarked'], axis='columns', inplace=True)

In [6]:
df.head()

   Survived  Pclass     Sex   Age     Fare
0         0       3    male  22.0   7.2500
1         1       1  female  38.0  71.2833
2         1       3  female  26.0   7.9250
3         1       1  female  35.0  53.1000
4         0       3    male  35.0   8.0500

In [7]:
target=df.Survived
features=df.drop('Survived', axis='columns')

In [8]:
#ML models cannot handle text
dummies = pd.get_dummies(features.Sex)
dummies.head()

   female  male
0       0     1
1       1     0
2       1     0
3       1     0
4       0     1

In [9]:
features = pd.concat([features,dummies], axis='columns')

In [10]:
features.head()

   Pclass     Sex   Age     Fare  female  male
0       3    male  22.0   7.2500       0     1
1       1  female  38.0  71.2833       1     0
2       3  female  26.0   7.9250       1     0
3       1  female  35.0  53.1000       1     0
4       3    male  35.0   8.0500       0     1

In [11]:
features.drop('Sex', axis='columns', inplace=True)
features.head()

   Pclass   Age     Fare  female  male
0       3  22.0   7.2500       0     1
1       1  38.0  71.2833       1     0
2       3  26.0   7.9250       1     0
3       1  35.0  53.1000       1     0
4       3  35.0   8.0500       0     1

In [12]:
features.columns[features.isna().any()]

Index(['Age'], dtype='object')

In [13]:
features.Age[:10]

0    22.0
1    38.0
2    26.0
3    35.0
4    35.0
5     NaN
6    54.0
7     2.0
8    27.0
9    14.0
Name: Age, dtype: float64

In [14]:
features.Age = features.Age.fillna(features.Age.mean())

In [15]:
features.columns[features.isna().any()]

Index([], dtype='object')

In [16]:
from sklearn.model_selection import train_test_split
X_train, x_test, y_train, y_test = train_test_split(features, target, test_size=0.2)

In [17]:
len(X_train)

712

In [20]:
len(x_test)

179

In [19]:
len(features)

891

In [21]:
from sklearn.naive_bayes import GaussianNB
model = GaussianNB()
model.fit(X_train, y_train)

GaussianNB()

In [22]:
model.score(x_test, y_test)

0.7988826815642458

In [25]:
x_test[:10]

     Pclass        Age      Fare  female  male
230       1  35.000000   83.4750       1     0
2         3  26.000000    7.9250       1     0
825       3  29.699118    6.9500       0     1
730       1  29.000000  211.3375       1     0
694       1  60.000000   26.5500       0     1
542       3  11.000000   31.2750       1     0
360       3  40.000000   27.9000       0     1
279       3  35.000000   20.2500       1     0
491       3  21.000000    7.2500       0     1
227       3  20.500000    7.2500       0     1

In [24]:
y_test[:10]

230    1
2      1
825    0
730    1
694    0
542    0
360    0
279    1
491    0
227    0
Name: Survived, dtype: int64

In [26]:
model.predict(x_test[:10])

array([1, 1, 0, 1, 0, 1, 0, 1, 0, 0])

In [27]:
from sklearn.naive_bayes import MultinomialNB
model = MultinomialNB()
model.fit(X_train, y_train)

MultinomialNB()

In [28]:
model.score(x_test,y_test)

0.6480446927374302

In [30]:
from sklearn.naive_bayes import BernoulliNB
model = BernoulliNB()
model.fit(X_train,y_train)

BernoulliNB()

In [32]:
model.score(x_test,y_test)

0.7988826815642458